<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>{% include "style.css" %}</style>
    <title>{% block title %}Koodiklinikan palkkakysely, {{year}}{% endblock %}</title>
</head>
<body class="{{ body_class|default("") }}">
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>
