{% extends "_base.html" %}
{% block title %}Koodiklinikan palkkakysely, {{ year }}{% endblock %}
{% block body %}
    <h1>Koodiklinikan palkkakysely, {{ year }}</h1>
    <h2>Tunnusluvut</h2>
    <ul>
        <li><i>n</i> = {{ df|length }}</li>
        {% with num_kk = df[pd.to_numeric(df['Kuukausipalkka'], errors='coerce').notnull()]['Kuukausipalkka'] %}
            <li>Keskimääräinen kuukausipalkka = {{ num_kk.mean()|round(0) }} €</li>
            <li>Mediaanikuukausipalkka = {{ num_kk.median()|round(0) }} €</li>
        {% endwith %}
        {% with num_v = df[pd.to_numeric(df['Vuositulot'], errors='coerce').notnull()]['Vuositulot'] %}
            <li>Keskimääräiset vuositulot = {{ num_v.mean()|round(0) }} €</li>
            <li>Mediaanivuositulot = {{ num_v.median()|round(0) }} €</li>
        {% endwith %}
    </ul>
    <h2>Työkalut</h2>
    <ul>
        <li><a href="charts.html">Kaaviot</a></li>
        <li><a href="profiling_report.html">Lähdedatan analyysi</a></li>
        <li><a href="/palkkakysely/analysaattori/?url=/palkkakysely/{{ year }}/data.json">Pivot-työkalu</a></li>
    </ul>
    <h2>Data</h2>
    <ul>
        <li><a href="data.csv">Lähdedata (CSV)</a></li>
        <li><a href="data.html">Lähdedata (HTML)</a></li>
        <li><a href="data.json">Lähdedata (JSON)</a></li>
        <li><a href="data.xlsx">Lähdedata (XLSX)</a></li>
        <li><a href="raw.tsv">Raakadata (TSV)</a></li>
        <li><a href="raw.xlsx">Raakadata (XLSX)</a></li>
    </ul>
{% endblock %}
{% block footer %}
    <footer>
        Generoitu {{ date }}
    </footer>
{% endblock %}
